*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.blog-content{
    position: absolute;
    z-index: -1;
    top: 120px;
    left: 0;
    padding: 2rem;
    margin: auto;
    margin-top: 4rem ;
    width: 100%;
    text-align: center;
}
.titulo{
    text-align: center;
    font-size: 40px ;
    padding: 1rem;
}
.presentacion{
    width: 90%;
}
.image-container img{
    width: 100%;
}
.presentacion-footer{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
.presentacion-footer div{
    width: 50%;
}
.net{
    font-size: 30px;
    padding: 5px;
}