*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    color: black;
}
.cemeri-header{
    width: 100;
    overflow: inherit;
    background-color: white;
}
.header-section{
    height: 80px;
    width: 100%;
    border-bottom: solid 1px rgb(167, 167, 167);
    display: flex;
    align-items: center;
}
.top{
    background-color: white;
    justify-content: space-around;
    z-index: 99;
}
.top-link{
    padding: 1rem;
}
.bottom{
    background-color: white;
    justify-content: center;
    z-index: 99;
}
.bottom a{
    padding: 1rem;
}
.nav-item{
    display: inline-block;
    text-decoration: none;
    margin: 1rem 2rem;
    position: relative;
    white-space: nowrap;
}
.nav-item li:hover{
    background-color: rgb(230, 229, 229);
    transition: 0.3s;
}
.nav-item:hover > a{
    color: rgb(184, 195, 120);
    transition: 0.5s;
}
.nav-item:hover a ~ .sub-list, .sub-list:hover{
    display: block;
    transition: 1s;
}
.sub-list{
    position: absolute;
    background-color: white;
    min-width: 10rem;
    display: none;
}
.sub-list li{
    display: block;
    position: relative;
    border: solid 1px rgb(167, 167, 167);
    margin: auto;
    text-align: center;
}

.third-level{
    background-color: white;
    position: absolute;
    top: 0;
    display: none;
}
.right{
    right: 100%;
}
.left{
    left: 100%; 
}

.thrid-level-li:hover > .third-level{
    display: block;
}
a:hover{
    text-decoration: underline;
}
#check{
    display: none;
}
.checkbtn{
    cursor: pointer;
    display: none;
}
#search{
    display: none;
}
.sticky{
    position: fixed;
    top: 0;
    left: 0;
}
.phone-icon > path {
    color: white;
}
@media(max-width: 770px){
    .checkbtn{
        display: block;
    }
    .top{
        background-color: #005984;
        height: 3rem;
        position: fixed;
        top: 0;
        width: 100%;
    }
    .top .header-items{
        display: none;
    }
    #home-link{
        color: white;
        display: block;
    }
    #search{
        display: block;
    }
    .bottom{
        width: 100%;
        position: fixed;
        overflow-y: scroll;
        top: 3rem;
        left: 0;
        height: auto;
        transition: 0.5s;
    }
    .hidden{
        left: -100%;
    }
    .bottom ul{
        width: 100%;        
    }
    .bottom ul li {
        display: block;
    }
    .nav-item{
        width: 100%;
        margin: 0px;
    }
    .nav-item a{
        width: 100%;
        padding: 1rem;
    }
    .nav-item:hover{
        background-color: rgb(59, 59, 59);
    }
    .sub-list{
        position: relative;
        width: 100%;
        margin: 0;
        
    }
    .sub-list li{
        border: 0px;
        text-align: left;
    }
    .sub-list li a{
        margin-left: 1rem;
    }
    .third-level{
        position: relative;
        width: 100%;
        left: 0;
    }
    .third-level li a{
        margin-left: 1.5rem;
    }
    .nav-item:hover > a{
        color: white;
        transition: 0.5s;
    }
}