*{
    font-family: "LibreFranklin";
    font-size: 20px;
    line-height: 2em;
    letter-spacing: 0.5px;
}
@font-face {
    font-family: "LibreFranklin";
    src: url("./Fonts/LibreFranklin.ttf");
}